* {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

body {
    background-color: white;
}

.navbar {
    background-color: rgb(20, 20, 20);
    color: rgb(199, 199, 199);
    width: 100%;
    opacity: .97;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
}

.cards {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 15px;

}

.card:hover {
    opacity: 0.8;
    font-size: 1.2em;
}

.navbar div {
    width: 30%;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}



.card {
    height: 200px;
    background-color: rgb(82, 15, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    transition: all .3s;
}

.card a {
    color: white;
}

.card a:hover {
    color: yellow;
}

.card-1  {
    grid-column: 1 / 3;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 50px;
}

.navbar div input {
    width: 200px;
    border-radius: 9px;
}

.title {
    display: flex;
    justify-content: center;
}